#desktop-container {
	position: relative;
	width: 65vw;
	height: 100vh;
	background: #5A8E3A;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	overflow-y: hidden;
	padding-top: 16px;
}

// #only-windows {
// 	width: 100%;
// }

#desktop-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 16px;
	background: #101010;
}

.bar-button {
	display: inline-block;
	margin-top: -1px;
	width: 16px;
	height: 16px;
	background: none;
	color: #ffffff;
	font-size: 12px;
	box-sizing: border-box;
	padding-top: 4px;
	display: inline-block;
	text-align: center;
}

.bar-button-active {
	color: #000;
	background: #9fbc00;
}

.window-content {
	padding: 10px;
	font: 12px monospace;
}

// inactive
.desktop-window {
	position: relative;
	width: 100%;
	height: 100%;
	background: #121212;
	color: white;
	box-sizing: border-box;
	// margin: 10px;
	// inactive tiling border
	// outer, inner
	// inner = inner + outer
	box-shadow: 0px 0px 0px 2px #454545 inset, 0px 0px 0px 3px #000000 inset;
}

.window-gap {
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.urgent {
	box-shadow: 0px 0px 0px 2px orange inset, 0px 0px 0px 3px #000000 inset;
}

// active tiling border
.window-active {
	box-shadow: 0px 0px 0px 2px #9fbc00 inset, 0px 0px 0px 3px #3E4A00 inset;
}

// inactive floating outer border
.window-floating {
	width: 484px;
	height: 316px;
	box-shadow: 0px 0px 0px 1px #000000, 0px 0px 0px 3px #454545, 0px 0px 0px 4px #000000;
}

// active floating outer border
.window-active.window-floating {
	box-shadow: 0px 0px 0px 1px #3E4A00, 0px 0px 0px 3px #9fbc00, 0px 0px 0px 4px #3E4A00;
}

.pseudo-float {
	width: 70%;
	height: 30%;
	margin: 10%;
}

.bottom-pad-lol {
	padding: 2px;
	width: 100%;
}

.desktop-frame {
	width: 100%;
	height: 50%;
	flex: 1 1 auto;
	box-sizing: border-box;
	border: 1px solid #101010;
	margin: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.desktop-frame:nth-child(2) {
	.window-gap:first-child {
		padding-right: 0px !important;
	}
}

.desktop-frame-active {
	border-color: #222222;
}