@font-face {
  font-family: 'atari_st';
  src: url("../fonts/atari_st/atarist8x16systemfont-webfont.woff2") format("woff2"), url("../fonts/atari_st/atarist8x16systemfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#desktop-container {
  position: relative;
  width: 65vw;
  height: 100vh;
  background: #5A8E3A;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  overflow-y: hidden;
  padding-top: 16px; }

#desktop-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 16px;
  background: #101010; }

.bar-button {
  display: inline-block;
  margin-top: -1px;
  width: 16px;
  height: 16px;
  background: none;
  color: #ffffff;
  font-size: 12px;
  box-sizing: border-box;
  padding-top: 4px;
  display: inline-block;
  text-align: center; }

.bar-button-active {
  color: #000;
  background: #9fbc00; }

.window-content {
  padding: 10px;
  font: 12px monospace; }

.desktop-window {
  position: relative;
  width: 100%;
  height: 100%;
  background: #121212;
  color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 2px #454545 inset, 0px 0px 0px 3px #000000 inset; }

.window-gap {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.urgent {
  box-shadow: 0px 0px 0px 2px orange inset, 0px 0px 0px 3px #000000 inset; }

.window-active {
  box-shadow: 0px 0px 0px 2px #9fbc00 inset, 0px 0px 0px 3px #3E4A00 inset; }

.window-floating {
  width: 484px;
  height: 316px;
  box-shadow: 0px 0px 0px 1px #000000, 0px 0px 0px 3px #454545, 0px 0px 0px 4px #000000; }

.window-active.window-floating {
  box-shadow: 0px 0px 0px 1px #3E4A00, 0px 0px 0px 3px #9fbc00, 0px 0px 0px 4px #3E4A00; }

.psudeo-float {
  width: 70%;
  height: 30%;
  margin: 10%; }

.bottom-pad-lol {
  padding: 2px;
  width: 100%; }

.desktop-frame {
  width: 100%;
  height: 50%;
  flex: 1 1 auto;
  box-sizing: border-box;
  border: 1px solid #101010;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center; }

.desktop-frame-active {
  border-color: #222222; }

#config-output-container {
  position: fixed;
  top: 70vh;
  right: 0px;
  width: 35vw;
  height: 30vh;
  background: #121212;
  color: #ffffff;
  border-left: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  #config-output-container #config-output {
    overflow-y: scroll;
    flex: 1 1 auto;
    white-space: pre;
    padding: 5px;
    box-sizing: border-box;
    background: #121212;
    color: #f8f8f8;
    border: 0px solid;
    font-family: monospace; }
  #config-output-container h1 {
    margin: 0px;
    border-bottom: 1px solid green;
    padding: 5px;
    font: 12px monospace; }

.test-border {
  border: 10px solid #454545;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; }

#settings-container {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 35vw;
  height: 70vh;
  background: #121212;
  color: #ffffff;
  border-left: 1px solid #000000;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto; }
  #settings-container h1 {
    border-bottom: 1px solid #9fbc00;
    color: #f2f2f2;
    padding: 5px;
    font: 28px 'Montserrat', sans-serif; }
  #settings-container h2 {
    background: #121212;
    color: #ffcc00;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font: 22px 'Montserrat', sans-serif; }
  #settings-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    font: 16px 'Montserrat', sans-serif; }
  #settings-container p {
    font-size: 14px;
    color: #999;
    margin-top: 0px;
    margin-bottom: 20px; }

.settings-collapsed {
  height: 54px;
  transition: height 0.25s; }

.settings-section {
  padding: 10px 0px;
  overflow: hidden;
  transition: height 0.25s; }
  .settings-section h1 {
    padding: 5px; }

.collapsable h1:hover {
  background: #3d3d3d;
  cursor: pointer; }

.settings-section:first-child {
  padding-top: 0px; }

.settings-subsection {
  background: #262626;
  border-left: 1px solid #ffcc00; }

.input-container {
  padding: 10px 10px; }
  .input-container span {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin-bottom: 10px;
    display: block;
    font-family: monospace;
    color: #999;
    padding-bottom: 10px; }

.input-container:not(:last-child) {
  border-bottom: 10px solid #121212; }

.input-container:nth-child(even) {
  background: rgba(0, 0, 0, 0.2); }

input[type=checkbox] {
  cursor: pointer; }

input[type=number] {
  width: 100%;
  box-sizing: border-box; }

input[type=color] {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer; }

#settings-head h1 {
  text-align: left;
  border: 0px solid #9fbc00;
  background: transparent;
  color: #fff;
  font: 36px 'atari_st', monospace;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #9fbc00;
  font-smooth: never;
  -webkit-font-smoothing: none; }
#settings-head h2 {
  font: 16px 'Open Sans', sans-serif;
  color: #e7dfdd; }
#settings-head a {
  color: #ffcc00;
  text-decoration: none; }

/*# sourceMappingURL=root.css.map */
